[data-accordion-target] {
  cursor: pointer;
}

.accordion-target {
  overflow: hidden;
  transition: height 0.5s;
}

.accordion-open:before {
  content: '- ';
}

.accordion-closed:before {
  content: '+ ';
}

.accordion-off:before {
  content: '';
}